body {
    width:100%;
    height: 100%;
   	margin: 0px auto;
   	font-size: 16px;
   	background-color: #DCF7DD;
}
main{
	background-color: #ffffff;
	margin-top: 2em;
	margin-bottom: 2em;
}

/* Navigation
====================================================== */

nav span{
	color: #DB9D4A;
	padding-left: 3em;
}
nav span:last-child{
	padding-left: 0;
}
nav a{
	font-family: 'Rockwell', serif; 
	font-size: 1.125em;
	line-height: 1em;
	color: #DB9D4A;
}
.nav .active li{
	background-color: red;
}
.navbar-header{
	display: inline-block;
}
.menu{
	font-family: 'PT Sans Narrow';
	font-weight: 700;
	font-size: 1.3em;
	margin-top: -.3em;
}

input[type="text"] {
    display: inline-block;
    height: 20px;
    padding: 16px 25px;
    line-height: 1em;
    font-size: 0.9em;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#appendedInputButtons{
	background-color: #DCF7DD;
	border: none;
}
.btn{
	border: none;
	background-color: #DCF7DD;
}
header h1:hover{
	color: #DB9D4A;
	text-decoration: none;
}

/* Navigation End
===================================================== */

h1{
	font-family: 'Lobster';
	font-size: 3.6em;
	line-height: .91em;
	color: #F27C7C;
}
h2{
	font-size: 1.5em;
	font-family: 'Open Sans Condensed', Sans-serif;
	color: #DB9D4A;
	float: left;
}
/* BANNER HEADERS 
=================================================================================*/

h3{
	font-family: 'Lobster', serif;
	font-size: 1.5em;
	line-height: 1.2;
	text-align: center;
	color: #ffffff;
}
h4{
	font-family: 'Rockwell', serif; 
	font-size: 1.125em;
	line-height: 1em;
	color: #ffffff;
	text-align: center;
}

/* BANNER HEADERS END
=================================================================================*/
h5{
	font-family: 'Rockwell', serif; 
	font-size: 2.2em;
	line-height: 1.2em;
	color: #DB9D4A;
}
h6{
	line-height: .5em;
}
/* HEADER STOOFZ
===================================================================*/
.deco img{
	padding-top: 10em;
}
.banner img{
	width: 100%;
	position: absolute;

}
.banner-text{
	margin-top: -0.5em;
	position: relative;
	width: 100%;
}
.banner-text h4{
	padding-bottom: 3em;
}
/* HEADER STOOFZ ENDS
===================================================================*/

article span{
	color: #DB9D4A;
	padding-bottom: 1em;
}
article p{
	padding-top: 1em;
}
article a{
	color: #DB9D4A;
	font-family: 'Rockwell', serif; 
}

.recipe-pics a{
	font-family: 'Rockwell', serif; 
	font-size: 1.125em;
	line-height: 1em;
	color: #DB9D4A;
}
.recipe-pics li{
	padding-bottom: 1em;
}
.recipe-pics li:last-child{
	padding-bottom: 4em;
}
.recipes{
	background-color: #DB9D4A;
	padding: .5em 1em .5em 1em;
	text-align: center;
	margin-bottom: 2em;
}
.recipes a{
	font-family: 'Rockwell', serif; 
	font-size: 1.125em;
	line-height: 1em;
	color: #ffffff;
}

/* HOME FOOTER STOOFS
======================================================================*/

.most-popular{
	background-color: #DB9D4A;
	padding: .5em 1em .5em 1em;
	text-align: center;
	margin-bottom: 2em;
	width: 100%;
}
.most-popular a{
	margin-top: 3em;
	font-family: 'Rockwell', serif; 
	font-size: 1.3em;
	line-height: 1em;
	color: #ffffff;
}
.most-popular-pics a{
	font-family: 'Rockwell', serif; 
	font-size: .9em;
	line-height: 1em;
	color: #DB9D4A;
}
.how-to{
	margin-top: 3em;
	background-color: #D89D4A;
	padding: .5em 1em .5em 1em;
	text-align: center;
	margin-bottom: 2em;
	margin-top: 4em;
	width: 100%;
}
.how-to a{
	font-family: 'Rockwell', serif; 
	font-size: 1.3em;
	line-height: 1em;
	color: #ffffff;
}
.how-tos-pics a{
	font-family: 'Rockwell', serif; 
	font-size: 1em;
	line-height: .9em;
	color: #DB9D4A;
}
.how-tos-pics li:last-child{
	padding-bottom: 4em;
}
.pages{
	padding-bottom: 3em;
}
.results img{
	padding-bottom: 1.5em;

}
.ingredients li{
	padding-left: 1.6em;
}